.badge {
    display: inline-block;
    border-radius: 0.4rem;
    padding: 0.4rem 0.8rem;
    border: 1px solid $gray-color-3;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: -0.02em;
    background-color: $white-color-1;
    color: $gray-color-4 !important;
    box-sizing: border-box;

    &--black {
        border-color: $gray-color-4;
        background-color: $gray-color-3;
        color: $gray-color-6 !important;
    }
    &--red {
        border-color: $red-normal-1;
        background-color: $red-light-1;
        color: $red-point-1 !important;
    }
    &--blue {
        border-color: $blue-color-4;
        background-color: $blue-color-1;
        color: $blue-point-1 !important;
    }
    &--purple {
        border-color: $purple-normal-1;
        background-color: $purple-light-1;
        color: $purple-point-1 !important;
    }

    &--big {
        font-size: 1.3rem;
        line-height: 1.6rem;
        padding: 0.5rem 1.2rem;
    }
    &--noborder {
        border: 0px;

        &.badge--default {
            background-color: $gray-color-2;
        }
    }
}
