@use 'abstracts/variables' as var;
@use 'abstracts/functions' as func;
@use 'abstracts/mixins' as mix;

.digitalWallet {
    &__wrap {
        height: 12.4rem;
        padding: 0 2.4rem;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        border-radius: 0 0 3rem 3rem;
    }

    &__beforeArea {
        position: absolute;
        left: 2.4rem;
        bottom: 0;
        height: 12.4rem;
        width: calc(100% - 4.8rem);
    }

    &__befoCard-list {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__befoCard-item {
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        border-radius: 1.2rem 1.2rem 0 0;
        padding: 1.4rem 2rem;
        border: 1.5px solid rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(3.5px);

        &--1 {
            width: calc(100% - 4.8rem);
            height: 12.3rem;
            background-color: rgba(194, 220, 255, 1);
        }
        &--2 {
            width: calc(100% - 1.8rem);
            height: 11.1rem;
            background-color: rgba(77, 169, 255, 0.5);
        }
        &--3 {
            width: 100%;
            height: 9.9rem;
            background-color: rgba(0, 104, 255, 0.7);
        }
    }

    &__befoCard-head {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__befoCard-tit {
        display: inline-block;
        font-weight: 400;
        letter-spacing: -0.01rem;
        color: #fff;
        opacity: 0.6;
    }

    &__befoCard-Icon {
        display: inline-block;
        width: 16px;
        opacity: 0.6;

        .ico {
            color: #fff !important;
        }
    }

    &__afterArea {
        position: absolute;
        width: calc(100% - 5rem);
        height: 100%;
        top: 0;
        left: 2.5rem;
        display: none;
        opacity: 0;
    }

    &__card-list {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
    }

    &__card-item {
        position: absolute;
        width: 100%;
        height: 7rem;
        overflow: hidden;
        border-radius: 1.2rem 1.2rem 0 0;
        border: 1.5px solid rgba(255, 255, 255, 0.4);

        &:first-of-type {
            height: 10.8rem;
        }

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(
                to top,
                rgba(0, 38, 95, 100),
                rgba(255, 255, 255, 0)
            );
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.3;
            pointer-events: none;
            z-index: -1;
        }
    }

    &__card-itemWrap {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 2rem;
        display: block;
    }

    &__card-itemHead {
        display: flex;
        align-items: center;
    }

    &__card-itemTit {
        font-family: var.$font-ggothic;
        font-weight: var.$font-weight-bold;
        font-size: 1.6rem;
        line-height: 2.4rem;
        letter-spacing: -0.01rem;
        color: #fff;
        flex-grow: 1;
        flex-shrink: 1;
        text-align: left;
    }

    &__card-itemTxt {
        font-family: var.$font-ggothic;
        font-weight: var.$font-weight-bold;
        font-size: 1.6rem;
        line-height: 2.4rem;
        letter-spacing: -0.01rem;
        color: #fff;
        flex-shrink: 0;
    }

    &__card-itemIcon {
        width: 1.6rem;
        height: 1.6rem;
        margin-left: 0.6rem;

        .ico {
            color: #fff !important;
        }
    }

    &__btnArea {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 1;
    }

    &__btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1px;
        width: 100%;
        height: 7rem;
        border-top: 0.15rem solid #fff;
        position: relative;
        background-image: linear-gradient(
            to top,
            rgba(0, 49, 118, 0.2),
            rgba(217, 217, 217, 0)
        );
        border-radius: 0 0 3rem 3rem;
        overflow: hidden;
        transition: 0.3s;
        &--open {
            height: 5.4rem;
        }

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(7px);
            z-index: -1;
        }
    }

    &__btnTxt {
        font-weight: 500;
        letter-spacing: -0.01rem;
        color: #fff;
    }

    &__btnIcon {
        width: 1.6rem;
        height: 2.1rem;

        .ico {
            color: #fff !important;
        }
    }
}
