// 아이콘 컴포넌트
.icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        > i {
            display: inline-block;
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

// 아이콘 백그라운드
.ico {
    &-add {
        background: ico-add();
    }
    &-arrowDown {
        background: ico-arrowDown();
    }
    &-arrowDown--333 {
        background: ico-arrowDown('333');
    }
    &-arrowRight {
        background: ico-arrowRight();
    }
    &-arrowUp {
        background: ico-arrowUp();
    }
    &-arrowUp--333 {
        background: ico-arrowUp('333');
    }
    &-close {
        background: ico-close();
    }
    &-close--333 {
        background: ico-close('333');
    }
    &-copy {
        background: ico-copy();
    }
    &-delete {
        background: ico-delete();
    }
    &-delete--333 {
        background: ico-delete('333');
    }
    &-doubleArrowDown {
        background: ico-doubleArrowDown();
    }
    &-doubleArrowUp {
        background: ico-doubleArrowUp();
    }
    &-link {
        background: ico-link();
    }
    &-link--333 {
        background: ico-link('333');
    }
    &-link--666 {
        background: ico-link('666');
    }
    &-link--999 {
        background: ico-link('999');
    }
    &-minus {
        background: ico-minus();
    }
    &-minus--333 {
        background: ico-minus('333');
    }
    &-plus {
        background: ico-plus();
    }
    &-plus--333 {
        background: ico-plus('333');
    }
    &-remove {
        background: ico-remove();
    }
    &-reset {
        background: ico-reset();
    }
    &-reset--333 {
        background: ico-reset('333');
    }
    &-save {
        background: ico-save();
    }
    &-upload {
        background: ico-upload();
    }
    &-upload--666 {
        background: ico-upload('666');
    }
}
