.input {
    &__wrap {
        display: block;
        border: 1px solid $gray-color-3;
        border-radius: 0.4rem;
        padding: 0.35rem 1rem 0.45rem;
        background-color: $white-color-1;
        transition: 0.3s ease border-color;

        &.input--disabled,
        &.input--readOnly {
            background-color: $blue-color-1;
        }
        &.input--focus {
            border-color: $blue-point-1;
        }
        &.input--error {
            border-color: $red-point-1;
        }
        &.input--number .input__cont {
            text-align: right;
        }
    }
    &__cont {
        width: 100%;
        text-overflow: ellipsis;
        color: $gray-color-6;
        @include mix.noto--14();

        &::placeholder {
            color: $gray-color-3;
        }
        &:disabled,
        &:read-only {
            color: $gray-color-4;
            &::placeholder {
                color: $gray-color-3;
            }
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    &__errorMessage {
        display: block;
        margin-top: 0.8rem;
        @include mix.noto--10();
        color: $red-point-1;
    }
}
