.pop {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 11;
}

.pop--dimm {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: all;
}

.pop--no-dimm {
    align-items: center;
    z-index: 100;
    pointer-events: auto;
    height: 0;
    top: auto;
    bottom: 1.6rem;
}

@mixin pop-base() {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 20;
    pointer-events: all;
    &__wrap {
        border-radius: 2.4rem;
        background-color: #fff;
        padding: 2.4rem;
        display: flex;
        flex-direction: column;
        border: 1px solid $gray-color-2;
        box-shadow: 0 0.7rem 1.2rem rgba(53, 65, 70, 0.2);
    }

    &__title {
        flex-shrink: 1;
        flex-grow: 1;
        font-size: 2rem;
        font-weight: 700;
    }
    &__btn {
        flex-shrink: 0;
        width: 2.6rem;
        height: 2.6rem;
    }
    &__body {
        flex-shrink: 1;
        flex-basis: 100%;
        overflow-y: auto;
        @include mix.noto--14();
    }
    &__head {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        margin-bottom: 1.8rem;
    }
    &__foot {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.7rem;
        flex-shrink: 0;
        margin-top: 2rem;
    }
}

// layer popup
.layer-popup {
    width: calc(100% - 3.2rem);
    max-width: 80rem;

    &__wrap {
        max-height: 80vh;
    }
    &__head {
        justify-content: flex-end;
        flex-shrink: 0;
    }
    @include pop-base();
}

// alert
.alert {
    width: 40rem;
    max-width: calc(100% - 3.2rem);
    &__wrap {
        justify-content: center;
        align-items: center;
    }
    &__foot {
        margin-top: 1.8rem;
    }
    @include pop-base();
}

#snackbar-root {
    width: 100%;
    position: fixed;
    bottom: 1.8rem;
    left: 0;
    width: 100%;
    z-index: 101;
}
.snackbar {
    max-width: 80rem;
    width: calc(100% - 3.2rem);
    margin: 0 auto;
    pointer-events: all;
    margin-top: 0.8rem;
    &:first-of-type {
        margin-top: 0;
    }
    &__wrap {
        background-color: rgba($color: $gray-color-6, $alpha: 0.9);
        box-shadow: 0 0.7rem 1.2rem rgba(53, 65, 70, 0.2);
        padding: 0.6rem 1.2rem;
        border-radius: 0.8rem;
    }
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        .btn__wrap {
            background-color: #fff;
        }
    }
    &__btn {
        flex-shrink: 0;
        width: 2.6rem;
        height: 2.6rem;
        .ico {
            color: #fff !important;
        }
    }
}
