#popup-root {
}

.pop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}
.pop--dimm {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: all;
}

.layer-popup {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: calc(100% - 3.2rem);
    max-width: 80rem;
    z-index: 20;
    &__wrap {
        border-radius: 2.4rem;
        background-color: #fff;
        padding: 2.4rem;
        max-height: 80vh;
        display: flex;
        flex-direction: column;
        border: 1px solid $gray-color-2;
        box-shadow: 0 0.7rem 1.2rem rgba(53, 65, 70, 0.2);
    }

    &__head {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.8rem;
        margin-bottom: 1.8rem;
        flex-shrink: 0;
    }
    &__title {
        flex-shrink: 1;
        flex-grow: 1;
        font-size: 2rem;
        font-weight: 700;
    }
    &__btn {
        flex-shrink: 0;
        width: 2.6rem;
        height: 2.6rem;
    }
    &__body {
        flex-shrink: 1;
        flex-basis: 100%;
        overflow-y: auto;
        @include mix.noto--14();
    }
    &__foot {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.7rem;
        flex-shrink: 0;
        margin-top: 2rem;
    }
}

// 레이어 팝업
.layer-pop {
}
