.selectbox {
    .selectbox-select {
        &__control {
            border: 1px solid $gray-color-3;
            border-radius: 0.4rem;
            min-height: 3rem;
            padding: 0.35rem 0.8rem 0.45rem;
            &:hover,
            &--is-focused {
                border-color: $blue-point-1;
                box-shadow: none;
            }
        }
        &__control--menu-is-open {
            .selectbox-select__dropdown-indicator {
                transform: rotate(180deg);
            }
        }
        &__indicator-separator {
            display: none;
        }
        &__indicator {
            padding: 0;
            width: 2rem;
            height: 2rem;
            > svg {
                display: none;
            }
        }
        &__dropdown-indicator {
            background: ico-arrowDown('333');
        }
        &__clear-indicator {
            background: ico-close('333');
            margin: 0 0.4rem;
            position: relative;
            transition: 0.15s ease;
            &::after {
                width: 1px;
                height: 1.4rem;
                background-color: $gray-color-2;
                position: absolute;
                top: 0.3rem;
                left: -0.2rem;
                @include mix.pseudo-element();
            }
            &::before {
                width: 1px;
                height: 1.4rem;
                background-color: $gray-color-2;
                position: absolute;
                top: 0.3rem;
                right: -0.2rem;
                @include mix.pseudo-element();
            }
            &:hover {
                background: ico-close('ff3d3d');
            }
        }
        &__value-container {
            padding: 0;
            margin: 0;
            height: 100%;
            color: $gray-color-6;
            @include mix.noto--r-14();
        }
        &__value-container--is-multi {
            gap: 0.4rem 1.2rem;
        }
        &__input-container {
            padding: 0;
            margin: 0;
            height: 100%;
        }
        &__placeholder {
            color: $gray-color-3;
        }
        &__menu {
            box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.03);
        }
        &__menu-list {
            padding: 0;
            border: 1px solid $gray-color-3;
            border-radius: 0.4rem;
        }
        &__option {
            color: $gray-color-6;
            padding: 0.45rem 0.8rem 0.55rem;
            transition: 0.15s ease;
            color: $gray-color-6;
            @include mix.noto--r-14();

            &:hover,
            &--is-focused {
                background-color: rgba($color: $blue-color-4, $alpha: 0.4);
            }
            &--is-selected,
            &--is-selected:hover {
                background-color: $blue-point-1;
                color: $gray-color-1;
            }
        }
        &__multi-value {
            margin: 0;
            align-items: center;
            background-color: transparent;
            &:first-of-type {
                margin-left: 0;
            }
        }
        &__multi-value__label {
            padding: 0;
            color: $gray-color-6;
            @include mix.noto--r-14();
        }
        &__multi-value__remove {
            width: 1.6rem;
            height: 1.6rem;
            margin-left: 0.2rem;
            background: ico-close('333');
            transition: 0.15s ease;
            &:hover {
                background: ico-close('ff3d3d');
            }
            > svg {
                display: none;
            }
        }
        &__menu-notice {
            padding: 1.8rem 1.2rem;
            color: $gray-color-4;
            @include mix.noto--m-12();
        }
    }
}
