.tooltip {
    opacity: 0;
    pointer-events: none;
    max-width: 0;
    max-height: 0;
    transition: 0s;

    &.isShow {
        display: block;
        pointer-events: all;
        opacity: 1;
        max-width: fit-content;
        max-height: fit-content;
        transition: 0.25s ease opacity;
    }
    &__wrap {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 3px 8px;
        background-color: #022f64;
        color: #fff;
        border-radius: 0.2rem;
        @include mix.noto--12;
        position: absolute;
        bottom: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
        white-space: noWrap;

        &::after {
            content: '';
            display: block;
            border-top: 0.5rem solid #022f64;
            border-left: 0.4rem solid transparent;
            border-right: 0.4rem solid transparent;
            position: absolute;
            bottom: -0.5rem;
        }
    }

    &--bottom .tooltip__wrap {
        top: 0.5rem;
        bottom: auto;

        &::after {
            bottom: auto;
            top: -0.5rem;
            border-top: none;
            border-bottom: 0.5rem solid #022f64;
        }
    }
}
