@use 'abstracts/functions' as func;
@use 'abstracts/variables' as var;
$icon-path: '../img/icons/';

// 아이콘 스타일 Mixin
@mixin icon($icon, $size: 24px, $color: #000) {
    width: $size;
    height: $size;
    fill: $color;
    background-image: url('#{$icon-path}#{$icon}');
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin a11y-hidden() {
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: circle(0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
}

@mixin background(
    $name,
    $repeat: no-repeat,
    $x: center,
    $y: top,
    $color: null
) {
    background: $color url($name) $repeat $x $y;
}

@mixin ellipsis($line: 1) {
    overflow: hidden;
    text-overflow: ellipsis;

    @if ($line==1) {
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
    }
}

@mixin scrollbars(
    $size: 0.2rem,
    $foreground-color,
    $background-color: #6d8cbd
) {
    // For Google Chrome
    &::-webkit-scrollbar {
        width: $size;
        border-left: 1px solid rgba(53, 65, 70, 0.045);
        box-shadow: 0 0.7rem 1.2rem rgba(53, 65, 70, 0.03);
    }

    &::-webkit-scrollbar-thumb {
        background: rgba($color: $background-color, $alpha: 0.4);
        border-radius: 10px;
        transition: 0.2s ease;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: rgba($color: $background-color, $alpha: 1);
    }
}
@mixin pseudo-element() {
    content: '';
    display: block;
}

@mixin respond-to($size) {
    @media (max-width: $size) {
        @content;
    }
}

/* NotoSans */
@mixin noto--12($weight: 500) {
    font-weight: $weight;
    font-size: 1.2rem;
    line-height: 1.775rem;
}
@mixin noto--10($weight: 500) {
    font-weight: $weight;
    font-size: 1rem;
}
@mixin noto--14($weight: 400) {
    font-weight: $weight;
    font-size: 1.4rem;
    line-height: 2rem;
}
