/* fonts */
//NotoSans

//regular
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 400;
    src:
        local(''),
        url('/font/NotoSansKR-Regular.woff2') format('woff2'),
        url('/font/NotoSansKR-Regular.woff') format('woff');
}

//medium
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 500;
    src:
        local(''),
        url('/font/NotoSansKR-Medium.woff2') format('woff2'),
        url('/font/NotoSansKR-Medium.woff') format('woff');
}

//bold
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 700;
    src:
        local(''),
        url('/font/NotoSansKR-Bold.woff2') format('woff2'),
        url('/font/NotoSansKR-Bold.woff') format('woff');
}

//Roboto
@font-face {
    font-family: 'Roboto';
    src:
        url('/font/Roboto-Regular-webfont.woff') format('woff'),
        url('/font/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:
        url('/font/Roboto-Medium-webfont.woff') format('woff'),
        url('/font/Roboto-Medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:
        url('/font/Roboto-Bold-webfont.woff') format('woff'),
        url('/font/Roboto-Bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
