$guideColor--line: #bfd6e6;
$guideColor--solidBg: #edf2f9;
$guideColor--desc: #f0f0f0;

.guide {
    margin-top: 4rem;
    &:first-of-type {
        margin-top: 0;
    }
    &__wrap--listpage {
        max-width: calc(100vw - 17rem);
    }
    &__prev {
        display: inline-block;
        width: 3.2rem;
        height: 3.2rem;
        margin-right: 2rem;
    }
    &__name {
        display: flex;
        align-items: center;
        font-size: 3.2rem;
        font-weight: 700;
        padding: 3rem 2rem;
        position: fixed;
        top: 0;
        z-index: 10;
        background-color: #fff;
        width: 100%;
        border-bottom: 2px solid rgba(53, 65, 70, 0.045);
        box-shadow: 0 0.7rem 1.2rem rgba(53, 65, 70, 0.03);
        // margin-bottom: 5.2rem;
    }
    &__body {
        padding: 14rem 2rem 3rem;
    }
    &__box {
        margin-bottom: 7.2rem;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &__head {
        font-size: 2rem;
        font-weight: 700;
    }
    &__boxWrap {
        margin-top: 2.2rem;
        border: 1.5px solid $guideColor--line;
        border-radius: 1rem;
        padding: 2rem;

        &--solid {
            background-color: $guideColor--solidBg;

            .guide__desc {
                background-color: rgba(255, 255, 255, 0.55);
                border: 1.5px solid #bfd6e6;
            }
        }
    }
    &__boxName {
        font-size: 1.4rem;
        font-weight: 500;
        color: #333;
    }
    &__boxBody {
        margin-top: 1.2rem;
        margin-bottom: 3rem;

        &:last-of-type {
            margin-bottom: 0;
        }
        &:first-child {
            margin-top: 0;
        }
    }
    &__desc {
        margin-top: 0.7rem;
        background-color: $guideColor--desc;
        border-radius: 0.4rem;
        padding: 1.2rem 1rem;
        color: #666;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.4rem;

        span {
            color: #999;
        }
    }
    &__desc-line {
        padding: 0;
        margin: 0.5rem 0;
        background-color: transparent;
        border-top: 1px solid #bfd6e6;
    }
}
.guide-txt {
    &--12 {
        font-family: var.$font-noto;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.775rem;
        color: #333;
    }
}

.guide-list {
    padding: 30px 15px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 170px;
    gap: 10px;
    &__btn {
        display: none;
        position: absolute;
        top: 2rem;
        right: -3rem;
        width: 3rem;
        height: 7rem;
        justify-content: center;
        align-items: center;
        background-color: #0260eb;
        border-radius: 0 0.8rem 0.8rem 0;
        .icon {
            height: fit-content;
        }
    }
    @media (max-width: 800px) {
        left: -17rem;
        transition: 0.2s ease;
        width: 17rem;
        &__btn {
            display: flex;
        }

        &--open {
            left: 0;
        }
    }
}

.guide-body {
    padding: 30px 20px;
    margin-left: 170px;
    border-left: 1px solid rgba(191, 214, 230, 0.5);
    transition: 0.2s ease;
    @media (max-width: 800px) {
        margin-left: 0;
        transition: 0.2s ease;
        .guide__wrap--listpage {
            max-width: 100%;
            transition: 0.2s ease;
        }
        &--open {
            margin-left: 17rem;
        }
    }
}
