$guideColor--line: #bfd6e6;
$guideColor--solidBg: #edf2f9;
$guideColor--desc: #f0f0f0;

.guide {
    &__prev {
        display: inline-block;
        width: 3.2rem;
        height: 3.2rem;
        margin-right: 2rem;
        background: ico-arrowDown('999');
        transform: rotate(90deg);
    }
    &__name {
        display: flex;
        align-items: center;
        font-size: 3.2rem;
        font-weight: 700;
        padding: 3rem 2rem;
        position: fixed;
        top: 0;
        z-index: 10;
        background-color: #fff;
        width: 100%;
        border-bottom: 2px solid rgba(53, 65, 70, 0.045);
        box-shadow: 0 0.7rem 1.2rem rgba(53, 65, 70, 0.03);
        // margin-bottom: 5.2rem;
    }
    &__body {
        padding: 14rem 2rem 3rem;
    }
    &__box {
        margin-bottom: 7.2rem;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &__head {
        font-size: 2rem;
        font-weight: 700;
    }
    &__boxWrap {
        margin-top: 2.2rem;
        border: 1.5px solid $guideColor--line;
        border-radius: 1rem;
        padding: 2rem;

        &--solid {
            background-color: $guideColor--solidBg;

            .guide__desc {
                background-color: rgba(255, 255, 255, 0.55);
            }
        }
    }
    &__boxName {
        font-size: 1.4rem;
        font-weight: 500;
        color: #333;
    }
    &__boxBody {
        margin-top: 1.2rem;
        margin-bottom: 3rem;

        &:last-of-type {
            margin-bottom: 0;
        }
        &:first-child {
            margin-top: 0;
        }
    }
    &__desc {
        margin-top: 0.7rem;
        background-color: $guideColor--desc;
        border-radius: 0.4rem;
        padding: 1.2rem 1rem;
        color: #666;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.4rem;

        span {
            color: #999;
        }
    }
}
.guide-txt {
    &--12 {
        font-family: var.$font-noto;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.775rem;
        color: #333;
    }
}
