html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    color: inherit;
}

*,
:after,
:before {
    box-sizing: border-box;
}

:root {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
    overflow-wrap: break-word;
    -moz-tab-size: 4;
    tab-size: 4;
}

html,
body {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-size: 1.4rem;
    font-family:
        var.$font-noto, var.$font-roboto, 'malgun', 'Apple SD Gothic Neo',
        '돋움', Dotum;
    font-weight: var.$font-weight-regular;
    line-height: 1;
    letter-spacing: -0.05em;
    background: var.$color-white;
    color: #212529;

    &::-webkit-scrollbar {
        width: 0.2rem;
        border-left: 1px solid rgba(53, 65, 70, 0.045);
        box-shadow: 0 0.7rem 1.2rem rgba(53, 65, 70, 0.03);
    }

    &::-webkit-scrollbar-thumb {
        background: rgba($color: #6d8cbd, $alpha: 0.4);
        border-radius: 10px;
        transition: 0.2s ease;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: rgba($color: #6d8cbd, $alpha: 1);
    }
}

body * {
    font-family:
        var.$font-noto, var.$font-roboto, 'malgun', 'Apple SD Gothic Neo',
        '돋움', Dotum;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img,
picture,
video,
canvas,
svg {
    display: block;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

a {
    text-decoration: none;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

li {
    list-style: none;
}

[hidden] {
    display: none;
}

hr {
    padding: 0.1em 0;
    margin: 5em 0;
    border: 2px dashed #fff;
    background-color: pink;
}

input,
textarea {
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    vertical-align: middle;
    box-sizing: border-box;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

textarea {
    resize: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
