$white-color-1: #fff;

$gray-color-1: #f7f7f7;
$gray-color-2: #f0f0f0;
$gray-color-3: #ddd;
$gray-color-4: #999;
$gray-color-5: #666;
$gray-color-6: #333;

$blue-color-1: #f4f7fa;
$blue-color-2: #1a5190;
$blue-color-3: #022f64;
$blue-color-4: #cedef5;
$blue-color-5: #6d8cbd;

$blue-point-1: #0260eb;

$red-point-1: #ff3d3d;
$red-light-1: #fffafa;
$red-normal-1: #fed5d5;
$purple-point-1: #6972f3;
$purple-light-1: #f5f6ff;
$purple-normal-1: #d6d9ff;
